body{
    background-image: url(https://images.unsplash.com/photo-1499002238440-d264edd596ec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    font-family: sans-serif;
    text-transform: uppercase;
    color: white;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    align-items: center;
    background-size: cover;
    overflow: hidden;
    text-align: center;
}

h2{
    font-size: 19px;
    letter-spacing: 6px;
}

.clock{
    display: flex;
    
}

.clock div{
    margin: 7px;
    position: relative;
}


.numbers{
    width: 100px;
    height: 80px;
    background-color: slateblue;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.text{
    width: 100px;
    height: 30px;
    font-size: 10px;
    background-color: darkblue;
    opacity: 0.8;
    justify-content: center;
    text-align: center;
    font-size: 10px;
    letter-spacing: 2px;
    display: flex;
    padding-top: 15px;
}

#am{
    margin: 5px;
    background-color: green;
    width: 60px;
    height: 30px;
    font-size: 20px;
    opacity: 0.8;
    justify-content: center;
    text-align: center;
    display: flex;
    top: 66%;
    padding-top: 5px;
}